// ========================================
// STATES
// ========================================

.alert {
    @extend %round-box;
    border-radius: 10px;
    padding: 1.5em;
    background-color: $color-primary;

    position: fixed;
    z-index: 9;
    top: 4em;
    left: 25%;
    right: 20%;

    &--hidden {
        display: none;
    }

    @include flexy(row, nowrap, space-between);

    &__text {
        color: $white;
        font-weight: lighter;

        &::before { // add "Alert" wording infront of an alert box
            content: "Alert";
            font-weight: bold;
            margin-right: 1em;
        }
    }

    &__toggle {
        color:$white;
        margin-left: 3em;
        cursor: pointer;

        &:hover {
            color: darken($color-primary, 20%);
        }
    }
}
