// ======================================
//  Variables
// ======================================
// -------------------------------------------
// Colors
// -------------------------------------------
// basic
$white: #fff;
$silver: #C0C0C0;
$black: #000;

// webpage specific colors
$ship-cove: #7477BF;
$mulled-wine: #4d4c72;
$de-york: #81c98f;
$glacier: #74b1bf;
$dove-gray: #6d6d6d;

$themes: (
    default: $ship-cove,
    sidebar: $mulled-wine,
    success: $de-york,
        mid: $glacier
);


$color-primary: map-get($themes, default);
$color-secondary: map-get($themes, sidebar);

// -------------------------------------------
// Fonts
// -------------------------------------------
$font-stack-sansserif: Helvetica, Verdana, sans-serif;
$font-stack-serif: Georgia, TimesNewRoman, serif;
$font-stack-mono: "Courier New", Courier, monospace;

// -------------------------------------------
// Fonts
// -------------------------------------------
$base__font-size: 16px;
$base__font-color: $dove-gray;
$base__line: 24px;

// -------------------------------------------
// Breakpoints
// -------------------------------------------
$breakpoints: (
     "small": 768px,
    "middle": 1024px,
       "big": 3440px
);

// -------------------------------------------
// Grid
// -------------------------------------------
$g-col-width    : 65px;
$g-gutter-width : 20px;
$g-col-count    : 12;
$g-cont-max-w   : 1050px;
