// ========================================
// GRID
// ========================================
.grid {
    display: grid;
    /* -- mobile grid layout -- */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    // grid-auto-rows: 300px;
    grid-template-areas:
        "header"
        "navbar"
        "dashboard";
    /* -- desktop grid layout -- */
    @include mq(big) {
        grid-template-columns: auto 1fr 1fr;
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "header header header"
            "navbar dashboard dashboard"
    };
}

.dashboard {
    display: grid;
    grid-template-rows: 50px repeat(8, 1fr);
    grid-template-areas:
        "."
        "traffic"
        "daily-traffic"
        "mobile-user"
        "social"
        "members"
        "recent"
        "message"
        "settings";
    /* -- mobile grid layout -- */
    @include mq(big){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        ". ."
        "traffic traffic"
        "daily-traffic mobile-user"
        "social social"
        "members recent"
        "message settings";
    }
}

.header {grid-area: header;}
.navbar {grid-area: navbar;}
.dashboard {grid-area: dashboard;}

.traffic {grid-area: traffic;}
.daily-traffic {grid-area: daily-traffic;}
.mobile-user {grid-area: mobile-user;}
.social {grid-area: social;}
.members {grid-area: members;}
.recent {grid-area: recent;}
.message {grid-area: message;}
.settings {grid-area: settings;}
