// ========================================
// LAYOUT
// ========================================

.header {
    background-color: $color-primary;
    padding-top: 10px;

    .wrapper {
        @include center-container(80%);
        @include flexy($justify: space-between);

        .headline,
        div {
            display: inline-block;
        }
    }
    &__icon {
        height: 40px;
        padding-right: 16px;
        border-right: 1px $black solid;

        &--avatar {
            height: 40px;
            border-radius: 50%;
        }
    }
}
