// ========================================
// LAYOUT
// ========================================
.header {
    grid-area: header;
    padding: 0.5em;
    @include mq(middle) {
        padding: 1em;
    };
}

.nav {
    grid-area: nav;
}

.toolbar {
    grid-area: toolbar;
}

.dashboard {
    grid-area: dashboard;
}

.container {
    min-width: 360px;
    display: grid;
    grid-template-rows: 3em 5em 2em auto;
    grid-template-areas:
        "header"
        "nav"
        "toolbar"
        "dashboard";
    @include mq(middle) {
        grid-template-columns: 1fr 75px minmax(auto, 1000px) 1fr;
        grid-template-rows: repeat(3, auto); // TODO: check autofit for grid
        grid-template-areas:
            ". header header ."
            ". nav toolbar ."
            ". nav dashboard ."
    };
}
