// -------------------------------------------
// CARDS
// -------------------------------------------

.card {
    &__container {
        //the container house the cards
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        @include mq(big) {
            grid-gap: 5%;
        };
    }
    background-color: lighten($silver, 20%); // TODO: need better color
    padding: 0.5em;
    margin-bottom: 0.5em;
    @include flexy(column, nowrap, space-evenly, center);
    @include mq(middle) {
        flex-direction: row;
    };
    box-shadow: -1px 0.5px 0.5px $color-primary;

    &__graphic {
        display: inline-block;
        background-color: $color-primary;
        border-radius: 50%;
        width: 4em;
        padding: 0.8em;
        @include mq(middle) {
            width: 5em;
            padding: 1em;
        };
    }

    .icon {
        // TODO: move SVG out
        fill: white;
    }

    &__profile {
        display: inline-block;
        @include mq(middle) {
            margin-left: 1em;
        };
    }

    &__title {
        color: $color-primary;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 0.8em;
        font-size: 1em;
        @include mq(middle) {
        };
    }

    &__stat {
        font-weight: lighter;
        font-size: 1.5em;
        @include mq(middle) {
            font-size: 2em;
        };
        @include mq(big) {
            font-size: 3em;
        };
    }
}
