// -------------------------------------------
// CARDS
// -------------------------------------------
.dashboard__widget--social {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    justify-items: center;
    align-items: stretch;
}

.card {

    &__container { //the container house the cards
        @include flexy(column, nowrap, space-evenly);
        @include mq(middle){
            flex-direction: row;
        };
    }

    @include flexy(row, nowrap);
    background-color: lighten($silver, 20%); // TODO: need better color
    width: 20em;
    padding: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: -1px 0.5px 0.5px $color-primary;

    &__graphic {
        display: inline-block;
        background-color: $color-primary;
        border-radius: 50%;
        width: 4em;
        padding: 0.8em;
        @include mq(middle){
            width: 5em;
            padding: 1em;
        };
    }


    .icon { // TODO: move SVG out
        fill: white;
    }

    &__profile {
        display: inline-block;
        margin-left: 1em;
    }

    &__title {
        color: $color-primary;
        font-weight: bold;
        text-transform: capitalize;
        font-size: 0.8em;
        @include mq(middle){
            font-size: 1em;
        };
    }

    &__info {
        font-weight: lighter;
        font-size: 2em;
        @include mq(middle){
            font-size: 3em;
        };
    }
}
