// -------------------------------------------
// CHART
// -------------------------------------------
.chart {
    width: 90vw;
    height: 25vh;
    @include mq(middle){
        width: 86vw
    };
    @include mq(big){
        width: 100%
    };
}
