// -------------------------------------------
// DASHBOARD
// -------------------------------------------

.dashboard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas:
        "toolbar toolbar"
        "alert alert"
        "traffic traffic"
        "daily-traffic mobile-user"
        "social social"
        "new-members recent-activity"
        "message-user settings";

    &__toolbar {grid-area: toolbar;}
    .alert {grid-area: alert;}
    .traffic {grid-area: traffic;}
    .daily-traffic {grid-area: daily-traffic;}
    .social {grid-area: social;}
    .new-members {grid-area: new-members;}
    .message-user {grid-area: message-user;}
    .mobile-user {grid-area: mobile-user;}
    .recent-activity {grid-area: recent-activity;}
    .settings {grid-area: settings;}

    &__widget {
        padding: 1em;
    }
    // ---------------------------------
    &__toolbar {
        @include flexy(row, nowrap, space-between);
    }

    &__search {
    }

    &__tag {
    }

}
