// -------------------------------------------
// FORMS
// -------------------------------------------
.form {
    &__label {
        display: inline-block;
        width: 40%;
        margin-bottom: 1em;

        &--hidden {
            display: none;
        }
    }

    &__input {
        @extend %round-box;
        width: 100%;

        &::placeholder {
            text-transform: capitalize;
            font-family: $font-stack-sansserif;
        }
    }
    &__col {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
    }
}
