// -------------------------------------------
// FORMS
// -------------------------------------------
.form {
    position: relative;
    &__label {
        display: inline-block;
        // width: 40%;
        font-size: 1.2em;
        margin-bottom: 1em;

        &--hidden {
            display: none;
        }
    }

    &__input {
        @extend %round-box;
        width: 100%;

        &::placeholder {
            color: $silver;
            text-transform: capitalize;
            font-family: $font-stack-sansserif;
        }
    }

    &__search-button {
        background:  url("../images/135-search.png") no-repeat center;
        background-size: contain;

        border: 0;
        position: absolute;
        top: 0;
        right: 10px;
        transform: scale(2);
        transform-origin: top right;
    }
    // &__col {
    //     display: grid;
    //     grid-template-columns: repeat(2, 1fr);
    //     grid-gap: 1em;
    // }
}
