.header {
    @include flexy(row, nowrap, space-between);

    &__profile {
        display: inline-block;
        @include flexy(row, nowrap, space-between, center);
        @include mq(middle) {
            margin: 0 2em;
        };
    }

    &__notifi-icon,
    & .img--avatar { //this property the width of profile icons
        width: em(30px);
        @include mq(middle) {
            width: em(40px);
        };
    }
    &__notifi-icon {
        display: inline-block;
        fill: $white;
    }
    &__notification {
        position: relative;

        &--new-message { //create a green dot indicating new message // TODO: make the green dot flash
            display: inline-block;
            background-color: $de-york;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 2.5px;
        }
    }

    &__seperator { //draw a line between bell icon and user image
        display: inline-block;
        background-color: $color-secondary;
        height: 40px;
        width: 1.5px;
        margin: 0 0.5em;
        @include mq(middle) {
            width: 2px;
            margin: 0 1em;
        };
    }

    &__username {
        display: none;
        color: $white;
        text-transform: capitalize;
        margin-left: 1em;
        @include mq(middle) {
            display: inline;
        };
    }

    @keyframes bellSwing {
        33% {transform: rotate(-30deg);}
        66% {transform: rotate(15deg);}
    }
    &__notification:hover {
        animation: 1s bellSwing backwards ease-out;
        transform-origin: top;
    }
}
