// ========================================
// HEADER
// ========================================

.header {
    .headline,
    div {
        display: inline-block;
    }

    &__icon {
        height: 40px;
        border-right: 1px $black solid;

        &--avatar {
            border-radius: 50%;
            height: 40px;
            @include mq(big) {
                height: 50px;
            };
        }
        @include mq(big) {
            height: 50px;
            padding-right: em(30px);
            margin-right: em(30px);
        };
    }
}
