// -------------------------------------------
// Navigation bar Styling
// -------------------------------------------

.navbar {
    background-color: $color-secondary;
    padding: em(16px);
    @include flexy(row, nowrap, space-between);

    &__icon {
        width: em(40px);
    }
}
