// -------------------------------------------
// Navigation bar Styling
// -------------------------------------------

.nav {
    padding: 0.5em;
    display: grid;
    @include mq(small) {
        grid-template-columns: repeat(4, 1fr);
    };
    @include mq(middle) {
        grid-template-rows: repeat(4, 1fr);
        width: 100px;
    };
    // set .nav__link to change border color
    &__link {
        border-radius: 2px;
        border: 3px rgba($de-york, 0) solid;
        transition: border 200ms ease-out;
        @include mq(middle){
            padding-left: 0.5em;
            transition: border 200ms ease-out;

        };
    }

    &__link:hover {
        @include mq(small){
            border-bottom-color: rgba($de-york, 1);

        };
        @include mq(middle){
            border-left-color: rgba($de-york, 1);
            // border-bottom-color: 0;
        };
    }
    // -------------------------------------------
    & .icon {
        pointer-events: none;
        // transform: scale(0.5);

    // set .nav__path to change color
        &__path {
            fill: $color-primary;
            transform-origin: center;
            transition: fill 200ms ease-out;
        }
    }

    &__link:hover .icon__path {
        fill: $white;
    }
    // -------------------------------------------
}
