// ========================================
// TOOLBAR
// ========================================
.toolbar {
    @include mq(small) { //do not display toolbar in mobile screen
        display: none;
    };

    background-color: lighten($silver, 20%); // TODO: make better color;
    @include flexy(row, nowrap, space-between, baseline);


    &__tab {
        display: inline-block;
        padding: 0.8em 1em ;
        border-right: 0.5px solid $white;
        cursor: pointer;

        &--selected {
            background-color: $white;
            border: 2px solid $silver;
            border-bottom: none;

            &:first-child {
                border-left: none;
            }
        }
    }

    // set the style of the search bar, with margin-left to push to right side
    &__search {
        width: 30%;
        margin-left: auto;
        margin-right: 0.8em;
        position: relative;

        & input { //remove the margin set in _form.scss
            margin: 0;
        }
    }

    &__mag-glass {
        border: none;
        width: 1.3em;
        background-image: url("/images/135-search.png");
        background-repeat: no-repeat;

        position: absolute;
        right: 5px;
        top: 8px;
    }
}
