// ========================================
// TOOLBAR
// ========================================
.toolbar {
    background-color: lighten($silver, 20%); // TODO: make better color;
    display: flex;
    align-items: baseline;


    &__tab {
        display: inline-block;
        padding: 0.8em 1em ;
        border-right: 0.5px solid $white;
        cursor: pointer;

        &--selected {
            background-color: $white;
            border: 2px solid $silver;
            border-bottom: none;

            &:first-child {
                border-left: none;
            }
        }
    }

    // SEARCHBAR -------------------------------------------
    &__search {
        width: 30%;
        margin-left: auto;
        margin-right: 0.8em;

        & input {
            margin: 0;
        }
    }
}
