// -------------------------------------------
// TEXT Styling
// -------------------------------------------
.headline {
    color: white;
    font-size: em(24px);

    & span {
        font-weight: bold;
    }
}
