// -------------------------------------------
// TEXT Styling
// -------------------------------------------

.title {
    font-size: 2em;
    font-weight: bold;

    &--dashboard {
        font-size: 1.3em;
    }
    &--card {
        font-size: 0.9em;
        color: lighten($color-primary, 10%);
        text-transform: uppercase;
    }
}
